services:
  be-lspmpi:
    image: be-lspmpi
    build:
      context: .
      dockerfile: be-lspmpi/Dockerfile
    ports:
      - "5001:5001"
    user: "0:0"
    volumes:
      - ./uploads:/app/uploads:rw
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=db_lspmpi;Username=postgres;Password=postgres
      - Cors__AllowedOrigins__0=http://localhost:3000
      - Cors__AllowedOrigins__1=http://localhost:5173
      - Cors__AllowedOrigins__2=http://localhost:8080
      - Cookie__Name=auth
      - Cookie__ExpireDays=3
      - Cookie__SlidingExpiration=true
      - Cookie__HttpOnly=true
      - Cookie__Secure=false
      - Cookie__SameSite=Lax
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5001
    networks:
      - pgsql_pgsql
    
networks:
  pgsql_pgsql:
      

